*.class
*.log

# sbt specific
.cache
.history/
.lib/
dist/*
target/
test-output/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# Scala-IDE specific
.scala_dependencies
.worksheet
bin/

# virtual machine crash logs
hs_err_pid*

# IntelliJ specific
.idea/
out/

# Eclipse specific
.classpath
.project
.settings/

# Temporary data specific
tenant.properties
user.properties

# sbteclipse
.target

# vim
*.swp
tags
ctags
.lib_src/

# vagrant
.vagrant
vagrant_ansible_inventory_*
*.iml

# MAC OS
.DS_Store